<div class="container-fluid">

  <div class="col-md-12 col-lg-12 col-xs-12" style="margin-top: 24px">
    <div class="white-box">
      <h3 class="box-title">My Balance</h3>
      <div class="white-box">
        <div class="table-responsive">
          <table class="table table-hover manage-u-table">
            <thead>
            <tr>
              <th class="text-center" style="width: 70px">#</th>
              <th style="width: 120px">NAME</th>
              <th>Quantity</th>
              <th>Ammount</th>
              <th>Court</th>
              <th>Last Bought</th>
              <th>Last Sell</th>
              <th>CLOTURE</th>
              <th>CTO</th>
              <th style="width: 120px">VARIATION</th>
              <th>ACTION</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-center">1</td>
              <td><span class="font-medium">BTE</span>
                <br/><span class="text-muted">(BTE)</span></td>
              <td>20</td>
              <td>112,25$</td>
              <td>5.31</td>
              <td>5.33</td>
              <td>~</td>
              <td>5.60</td>
              <td>14.51</td>
              <td><p class="text-success">+0.18% <i class="text-success ti-arrow-circle-up"></i></p></td>
              <td>
                <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"
                        (click)="openTradingModal()"><i class="ti-upload"></i>
                </button>
                <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-20"
                        (click)="openTradingModal()"><i
                  class="ti-download"></i></button>
              </td>
            </tr>
            <tr>
              <td class="text-center">1</td>
              <td><span class="font-medium">TUNISAIR</span>
                <br/><span class="text-muted">(TUNISIAR)</span></td>
              <td>240</td>
              <td>2120,75$</td>
              <td>7.31</td>
              <td>7.33</td>
              <td>~</td>
              <td>7.60</td>
              <td>12.51</td>
              <td><p class="text-success">+0.08% <i class="text-success ti-arrow-circle-up"></i></p></td>
              <td>
                <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"
                        (click)="openTradingModal()"><i class="ti-upload"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td class="text-center">1</td>
              <td><span class="font-medium">SFBT</span>
                <br/><span class="text-muted">(SFBT)</span></td>
              <td>20</td>
              <td>112,25$</td>
              <td>5.31</td>
              <td>5.33</td>
              <td>~</td>
              <td>5.60</td>
              <td>14.51</td>
              <td><p class="text-danger">-0.18% <i class="text-danger ti-arrow-circle-down"></i></p></td>
              <td>
                <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"
                        (click)="openTradingModal()"><i class="ti-upload"></i>
                </button>
                <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-20"
                        (click)="openTradingModal()"><i
                  class="ti-download"></i></button>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalTrading" tabindex="-1" role="dialog" aria-labelledby="Modal Trading">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel1">Trading Modal (Achat)</h4></div>
        <div class="modal-body">
          <form class="form-material">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label for="type" class="control-label">Type</label>
                  <select type="number" class="form-control" id="type">
                    <option disabled></option>
                    <option>ATP</option>
                    <option>ORDER LIMIT</option>
                    <option>ORDER OUV</option>
                    <option>ORDER APPLCIATION</option>
                    <option>ORDER MEILLEUR LIMITE</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label"> Quantity</label>
                    <div id="range_01"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="option" class="control-label">Options</label>
                  <select type="number" class="form-control" id="option">
                    <option>None</option>
                    <option>Execute if all quantity availble</option>
                    <option>Execute Step by Step</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="court" class="control-label"> Court</label>
                    <input type="number" class="form-control" placeholder="$$$,$$" id="court">
                  </div>
                </div>
              </div>

            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="sendOrder()">Send Order</button>
        </div>
      </div>
    </div>
  </div>

  <!-- /.container-fluid -->
</div>
