<div class="container-fluid">

  <div class="col-md-9 col-lg-9 col-xs-9" style="margin-top: 24px">
    <div class="white-box">
      <h3 class="box-title">Current History</h3>
      <div class="white-box">
        <div class="table-responsive">
          <table class="table table-hover manage-u-table">
            <thead>
            <tr>
              <th>TITLE</th>
              <th>Qté</th>
              <th>C</th>
              <th>TYPE</th>
              <th>DATE</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>TUNISAIR</td>
              <td>200</td>
              <td>51.23</td>
              <td><span class="label label-info label-rouded">ORDER LIMIT</span></td>
              <td>il y'a 1 heure</td>
              <td></td>
            </tr>
            <tr>
              <td>SFBT</td>
              <td>150</td>
              <td>5.423</td>
              <td><span class="label label-danger label-rouded">ATP</span></td>
              <td>November 01, 2017</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
