<div class="container-fluid">

  <div class="col-md-9 col-lg-9 col-xs-9" style="margin-top: 24px">
    <div class="white-box">
      <h3 class="box-title">Current History</h3>
      <div class="white-box">
        <div class="table-responsive">
          <table class="table table-hover manage-u-table">
            <thead>
            <tr>
              <th>TITLE</th>
              <th>Qté</th>
              <th>C</th>
              <th>TYPE</th>
              <th>DATE</th>
              <th>STATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userOrderItem of orderHistory;let i=index">
              <td>{{userOrderItem.courtChange.name}}</td>
              <td>{{userOrderItem.quantity}}</td>
              <td>{{userOrderItem.price}}</td>
              <td><span class="label label-info label-rouded">{{userOrderItem.orderType.name}}</span></td>
              <td>{{userOrderItem.created_at}}</td>
              <td><span class="label {{userOrderItem.canceled_at!==null?'label-warning':
                userOrderItem.terminated_at!==null?'label-success':'label-info'}} label-rouded">{{userOrderItem.canceled_at!==null?'canceled':
                userOrderItem.terminated_at!==null?'terminated':"in process"}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
