<div class="container-fluid">
  <div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h4 class="page-title">Current Trading</h4></div>
  </div>

  <div class="col-md-9 col-lg-9 col-xs-9">
    <div class="white-box">
      <h3 class="box-title">Title #1</h3>
      <div class="white-box">
        <div class="table-responsive">
          <table class="table table-hover manage-u-table">
            <thead>
            <tr>
              <th style="width: 150px">ACTION</th>
              <th>TYPE</th>
              <th>Qté</th>
              <th>C</th>
              <th></th>
              <th>C</th>
              <th>Qté</th>
              <th>TYPE</th>
              <th style="width: 150px">ACTION</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i
                  class="icon-trash" (click)="deleteOrder()"></i></button>
                <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i
                  class="ti-pencil-alt"></i></button>
              </td>
              <td><span class="label label-danger label-rouded">ATP</span></td>
              <td>200</td>
              <td>~</td>
              <td>#</td>
              <td>5.21</td>
              <td>970</td>
              <td><span class="label label-info label-rouded">ORDER LIMIT</span></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td><span class="label label-info label-rouded">ORDER LIMIT</span></td>
              <td>200</td>
              <td>5.10</td>
              <td>#</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9 col-lg-9 col-xs-9">
    <div class="white-box">
      <h3 class="box-title">Title #2</h3>
      <div class="white-box">
        <div class="table-responsive">
          <table class="table table-hover manage-u-table">
            <thead>
            <tr>
              <th style="width: 150px">ACTION</th>
              <th>TYPE</th>
              <th>Qté</th>
              <th>C</th>
              <th></th>
              <th>C</th>
              <th>Qté</th>
              <th>TYPE</th>
              <th style="width: 150px">ACTION</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>

              </td>
              <td><span class="label label-danger label-rouded">ATP</span></td>
              <td>220</td>
              <td>~</td>
              <td>#</td>
              <td>~</td>
              <td>970</td>
              <td><span class="label label-danger label-rouded">ATP</span></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>#</td>
              <td>~</td>
              <td>200</td>
              <td><span class="label label-success label-rouded">ORDER OUV</span></td>
              <td>
                <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i
                  class="icon-trash"></i></button>
                <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i
                  class="ti-pencil-alt"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


 

</div>



